<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{ challenge.name }}" required>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" required>{{ challenge.description }}</textarea>
    </div>

    <div class="form-group">
        <label>Value</label>
        <input class="form-control" type="number" name="value" value="{{ challenge.value }}" required>
    </div>

    <div class="form-group">
        <label>Category</label>
        <input class="form-control" type="text" name="category" value="{{ challenge.category }}" required>
    </div>

    <!-- Custom field for VM provisioning -->
    <div class="form-group">
        <label>VM Template ID</label>
        <input class="form-control" type="text" name="template" value="{{ challenge.template }}">
    </div>

    <div>
		<button class="btn btn-success btn-outlined float-right" type="submit">
			Update
		</button>
	</div>
</form>
