{% extends "challenge.html" %}

{% block description %}
<p>{{ challenge.description }}</p>
{% endblock %}

{% block input %}
<div class="challenge-view">
    <input type="hidden" id="challenge-type" value="{{ challenge.type }}">

    <button class="btn btn-primary" id="start-instance">Start Instance</button>
    <button class="btn btn-danger" id="stop-instance">Stop Instance</button>
    <button class="btn btn-info" id="status-instance">Check Status</button>

    <pre id="instance-info" style="margin-top: 1rem;"></pre>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('plugins.dynamic_instances.static', filename='js/vm_view.js') }}"></script>
{% endblock %}
